html{
	background: #000;
}

body {
	margin: 0px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
}

h2{
	font-size: 12px;
}

figure{
	display: none;
}

main {
	position: relative;
	max-width: 56em;
	background-color: white;
	padding: 2em;
	margin: 0 auto;
	box-sizing: border-box;
}


a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		// font-size: 16px;
	}
}